.container {
    max-width: 1100px;
}
header {
    background-image: url('assets/ima1.2.png');
    background-size: cover;
    height: 550px;
    position: relative;
}

.title-color{
    color: #8d1b2b;
}

.title {
    color: #a0e74f;
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    background-color: #b7302c;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.row{
    margin: 0;
}

#row-nosotros{
    background-image: url('assets/ima2.jpg');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
#row-servicios{
    background-image: url('assets/ima5.jpg');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#row-register{
    background-image: url('assets/fondo2.png');
    background-size: cover;
    padding-top: 140px !important;
    padding-bottom: 140px !important;
}

#row-nosotros img{
    border-radius: 30%;
    width: 400px;
}
#row-servicios img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#row-nosotros{
    font-size: 14px;
}

#row-servicios{
    font-size: 14px;
}

#row-coment{
    color: white;
    background-color: #504925;
    background-size: cover;
    position: relative;
}

footer{
    background-color: #6a6716d4;
    color: white;
}

